/* Borders */

/* *{
    box-sizing: border-box;
    padding: 25px;
} */

body {
    background-image:url(b34289_0b00d544f6504279b491b36616f2efe5_mv2_d_2040_1360_s_2.webp);
}

/* Image Size */
/* img {
    width: 100%
} */

/* Again we can comment */

h1  {
    color: rgb(83, 5, 119);
    font-size: 50px;
}

/* Targeting an element */
b{
    color: black;
}
.nav {
    background-color: khaki;
}

p {
    color: lightgreen ;
}